node_modules/
.expo/
dist/
web-build/

.env
.env.local
.env.*.local

todo/node_modules/
todo/.expo/
todo/.env
todo/.env.local
todo/.env.*.local

todo_back_end/todo-backend/node_modules/
todo_back_end/todo-backend/.env
todo_back_end/todo-backend/firebase-service-account.json